export PORT=2288
export HOST_TYPE='LOCALHOST'

# turn on sql debug log
export SIMPLEPRINTS_DEBUG_SQL=true

# set up database URL
#export DATABASE_URL=psql://knt:@localhost/kakaolabs
export DATABASE_URL=sqlite:////DATA/DEVELOPMENT/KAKAOLABS/kakaolabs-apps/databases/kakaolabs.sqlite

# setup newrelic
#export NEW_RELIC_APP_NAME=kakaolabs-local
#export NEW_RELIC_LICENSE_KEY=5650e56699ca34c5be4a594abd5b1ac83817bdf7
#export NEW_RELIC_LOG=stdout
#export NEW_RELIC_SHUTDOWN_TIMEOUT=10
